.add-money-option-container {
    margin: 32px 16px;
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.084);
    background-color: #fff;
    border-radius: 12px;
}

.add-money-option-item-container {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--grey-100);
}

.add-money-option-item-container2 {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
   
}

.add-money-option-item-text-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.add-money-icon {
    height: 32px;
}