.gradiendt-base-container {
    background: var(--gradient-surface);
    height: 200px;
    padding: 16px;
}

.primary-base-container {
    background: var(--secondary-surface);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    padding: 16px;
    margin-bottom: 64px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}