.hiding_body_container {
    height: 64px;
    margin: 24px 48px;
}

.full-bottom-sheet-content-container {
    margin: 16px;
}

.full-bottom-sheet-title-contianer {
    text-align: center;
    margin: 24px 48px;
}

