

.bill-list-title {
    margin: 32px 0;
}

.bill-item-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey-50);
    margin-bottom: 24px;
}

.bill-image-title {
    display: flex;
    gap: 16px;
}

.bill-logo {
    height: 40px;
    width: 40px;
}

.bill-amount-date-arrow {
    display: flex;
    align-items: center;
}

.bill-amount {
   display: flex;
   justify-content: right;
}

.bill-list-item-container {
    display: flex;
    flex-direction: column;
}

.bill-info-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.due-date {
    font-size: 12px;
    color: #FB853C;
    font-weight: 500;
}