

/* Fonts */

/* Mark for MC */

/* Light*/
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Light"),
    url("./assets/fonts/normal/MarkForMC-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Bold"),
    url("./assets/fonts/normal/MarkForMC-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Medium"),
    url("./assets/fonts/normal/MarkForMC-Med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Mark for MC Narrow */

/* Regular */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Typography */

body {
  font-family: "MarkforMC";
}

button {
  font-family: "MarkforMC";
}

input {
  font-family: "MarkforMC";
}

.headline1 {
  font-family: "MarkforMC";
  font-weight: 300;
  font-size: 28px;
  color: var(--primary-text);
}

.headline2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 28px;
  color: var(--primary-text);
}

.heading {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text);
}

.title1 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-text);
}

.title2 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-text);
}

.body1 {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text);
}

.body2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text);
}

.subheading1 {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text);
}

.subheading2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text);
}

.caption {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 12px;
  color: var(--primary-text);
}

.regular-narrow {
  font-family: "MarkforMCNarrow";
  font-weight: 400;
  color: var(--primary-text);
}

.medium-narrow {
  font-family: "MarkforMCNarrow";
  font-weight: 500;
  color: var(--primary-text);
}


/* Icon */

.icon24 {
  width: 24px;
  height: 24px;
}

/* Page Container */
.page-container {
  background: var(--primary-surface);
  height: 100vh;
}

.highlighted {
  color: var(--primary-color);
  font-weight: 500;
}

/* Dynamic Color Variables */

/* PartnerBank - Light mode */

#theme[data-brand="partnerbank"][data-theme="light"] {
  /* Primary */
  --primary-color: #18a886;
  --primary-tint20: #7eccb7;
  --primary-tint30: #b1e0d3;
  --primary-tint40: #dff3ee;
  --primary-shade10: #008b67;
  --primary-shad20: #006b4b;

  /* Secondary */
  --secondary-color: #2baab9;
  --secondary-tint20: #85dde4;
  --secondary-tint30: #b4ebee;
  --secondary-tint40: #e1f7f8;
  --secondary-shade10: #2896a0;
  --secondary-shad20: #248288;

  /* Primary gradient */
  --primary-gradient: linear-gradient(180deg, #18a886 0%, #2baab9 100%);
  --primary-gradient-tint20: linear-gradient(180deg, #7eccb7 0%, #85dde4 100%);
  --primary-gradient-tint30: linear-gradient(180deg, #b1e0d3 0%, #b4ebee 100%);
  --primary-gradient-tint40: linear-gradient(180deg, #dff3ee 0%, #e1f7f8 100%);
  --primary-gradient-shade10: linear-gradient(180deg, #008b67 0%, #2896a0 100%);
  --primary-gradient-shad20: linear-gradient(
    180deg,
    #006b4b 0%,
    #2baab9 100%,
    #248288 100%
  );

  /* Surface */
  --primary-surface: #ffffff;
  --secondary-surface: #f8f8f8;
  --tertiary-surface: #f1f1f1;
  --gradient-surface: linear-gradient(180deg, #18a886 0%, #2baab9 100%);

  /* Dividers */
  --divider-on-primary: #e1e1e1;
  --divider-on-secondary: #c8c8c8;

  /* Disabled */
  --disabled-state: #acacac;

  /* Icons */
  --icons: #919191;

  /* Text */
  --primary-text: #212121;
  --secondary-text: #6e6e6e;
  --white-text: #ffffff;
  --white-button-text: #18a886;

  /* Neutral colors */
  --black: #000000;
  --grey-950: #141414;
  --grey-900: #212121;
  --grey-800: #292929;
  --grey-700: #303030;
  --grey-600: #404040;
  --grey-500: #6e6e6e;
  --grey-400: #919191;
  --grey-300: #acacac;
  --grey-200: #c8c8c8;
  --grey-100: #e1e1e1;
  --grey-50: #f1f1f1;
  --grey-25: #f8f8f8;
  --white: #ffffff;

  /* Message */
  --success-text: #097007;
  --warning-text: #332805;
  --error-text: #b00606;

  --success-container: #dff7df;
  --warning-container: #fff4d1;
  --error-container: #fadede;

  --success-icon: #097007;
  --warning-icon: #ffc61e;
  --error-icon: #ee0000;

  /* Chart Colors */
  --chart-color-1: #2baab9;
  --chart-color-2: #ffa833;
  --chart-color-3: #79b252;
  --chart-color-4: #3c80be;
  --chart-color-5: #fb853c;
  --chart-color-6: #9455be;
  --chart-color-7: #c74765;
  --chart-color-8: #f960a6;
}



#theme[data-brand="partnerbank"][data-theme="dark"] {
 /* Primary */
 --primary-color: #5fdbb6;
 --primary-tint20: #a4e9d3;
 --primary-tint30: #daf7ee;
 --primary-tint40: #daf7ee;
 --primary-shade10: #0c9b86;
 --primary-shad20: #00513f;

 /* Secondary */
 --secondary-color: #4ed8ea;
 --secondary-tint20: #82e4f0;
 --secondary-tint30: #82e4f0;
 --secondary-tint40: #e1f8fc;
 --secondary-shade10: #0da6c6;
 --secondary-shad20: #004f57;

 /* Primary gradient */
 --primary-gradient: linear-gradient(180deg, #5fdbb6 0%, #4ed8ea 100%);
 --primary-gradient-tint20: linear-gradient(180deg, #a4e9d3 0%, #82e4f0 100%);
 --primary-gradient-tint30: linear-gradient(180deg, #daf7ee 0%, #b4eef6 100%);
 --primary-gradient-tint40: linear-gradient(180deg, #daf7ee 0%, #b4eef6 100%);
 --primary-gradient-shade10: linear-gradient(180deg, #0c9b86 0%, #0da6c6 100%);
 --primary-gradient-shad20: linear-gradient(
   180deg,
   #00513f 0%,
   #2baab9 100%,
   #004f57 100%
 );

 /* Surface */
 --primary-surface: #141414;
 --secondary-surface: #212121;
 --tertiary-surface: #292929;
 --gradient-surface: linear-gradient(180deg, #141414 0%, #404040 100%);

 /* Dividers */
 --divider-on-primary: #404040;
 --divider-on-secondary: #6e6e6e;

 /* Disabled */
 --disabled-state: #404040;

 /* Icons */
 --icons: #c8c8c8;

 /* Text */
 --primary-text: #f8f8f8;
 --secondary-text: #e1e1e1;
 --white-text: #ffffff;
 --white-button-text: #141414;

 /* Neutral colors */
 --black: #000000;
 --grey-950: #141414;
 --grey-900: #212121;
 --grey-800: #292929;
 --grey-700: #303030;
 --grey-600: #404040;
 --grey-500: #6e6e6e;
 --grey-400: #919191;
 --grey-300: #acacac;
 --grey-200: #c8c8c8;
 --grey-100: #e1e1e1;
 --grey-50: #f1f1f1;
 --grey-25: #f8f8f8;
 --white: #ffffff;

 /* Message */
 --success-text: #99f984;
 --warning-text: #ffdf98;
 --error-text: #ffdad4;

 --success-container: #005301;
 --warning-container: #5a4300;
 --error-container: #930100;

 --success-icon: #7edc6b;
 --warning-icon: #f6be11;
 --error-icon: #ffb4a8;

 /* Chart Colors */
 --chart-color-1: #93d4dc;
 --chart-color-2: #ffcb85;
 --chart-color-3: #b2e092;
 --chart-color-4: #92c3f0;
 --chart-color-5: #ffa268;
 --chart-color-6: #cba0e8;
 --chart-color-7: #e58ea2;
 --chart-color-8: #ffabd1;
}

#theme[data-brand="bankpathy"][data-theme="light"] {
  /* Primary */
  --primary-color: #cf4500;
  --primary-tint20: #f88a5d;
  --primary-tint30: #faaa8b;
  --primary-tint40: #fccbb9;
  --primary-shade10: #dd4c03;
  --primary-shad20: #b73800;

  /* Primary gradient */
  --primary-gradient: #cf4500;
  --primary-gradient-tint20: #f88a5d;
  --primary-gradient-tint30: #faaa8b;
  --primary-gradient-tint40: #fccbb9;
  --primary-gradient-shade10: #dd4c03;
  --primary-gradient-shad20: #b73800;

  /* Secondary */
  --secondary-color: #f79f1b;
  --secondary-tint20: #fad356;
  --secondary-tint30: #fbde86;
  --secondary-tint40: #fdebb5;
  --secondary-shade10: #f68f19;
  --secondary-shad20: #f57115;

  /* Surface */
  --primary-surface: #ffffff;
  --secondary-surface: #f8f8f8;
  --tertiary-surface: #f1f1f1;
  --gradient-surface: linear-gradient(to bottom,  #cf4500, #f79f1b);

  /* Dividers */
  --divider-on-primary: #e1e1e1;
  --divider-on-secondary: #c8c8c8;

  /* Disabled */
  --disabled-state: #acacac;

  /* Icons */
  --icons: #919191;

  /* Text */
  --primary-text: #212121;
  --secondary-text: #6e6e6e;
  --white-text: #ffffff;
  --white-button-text: #cf4500;
  

  /* Neutral colors */
  --black: #000000;
  --grey-950: #141414;
  --grey-900: #212121;
  --grey-800: #292929;
  --grey-700: #303030;
  --grey-600: #404040;
  --grey-500: #6e6e6e;
  --grey-400: #919191;
  --grey-300: #acacac;
  --grey-200: #c8c8c8;
  --grey-100: #e1e1e1;
  --grey-50: #f1f1f1;
  --grey-25: #f8f8f8;
  --white: #ffffff;

  /* Message */
  --success-text: #097007;
  --warning-text: #332805;
  --error-text: #b00606;

  --success-container: #dff7df;
  --warning-container: #fff4d1;
  --error-container: #fadede;

  --success-icon: #097007;
  --warning-icon: #ffc61e;
  --error-icon: #ee0000;

  /* Chart Colors */
  --chart-color-1: #2baab9;
  --chart-color-2: #ffa833;
  --chart-color-3: #79b252;
  --chart-color-4: #3c80be;
  --chart-color-5: #fb853c;
  --chart-color-6: #9455be;
  --chart-color-7: #c74765;
  --chart-color-8: #f960a6;
}