/* Fonts */

/* Mark for MC */

/* Light*/
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Light"),
    url("./assets/fonts/normal/MarkForMC-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Bold"),
    url("./assets/fonts/normal/MarkForMC-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Medium"),
    url("./assets/fonts/normal/MarkForMC-Med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Mark for MC Narrow */

/* Regular */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Typography */

body {
  font-family: "MarkforMC";
}

button {
  font-family: "MarkforMC";
}

input {
  font-family: "MarkforMC";
  border-radius: 0; /* Reset border-radius */
  -webkit-appearance: none; /* Reset Safari's default styles */
  appearance: none;
}

label {
  font-family: "MarkforMC";
}

.headline1 {
  font-family: "MarkforMC";
  font-weight: 300;
  font-size: 28px;
  color: var(--primary-text);
}

.headline2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 28px;
  color: var(--primary-text);
}

.heading {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text);
}

.title1 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-text);
}

.title2 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-text);
}

.title3 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-text);
}

.title4 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 32px;
  color: var(--primary-text);
}

.body1 {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text);
}

.body2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text);
}

.body3 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-text);
}

.body4 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-color);
}

.body5 {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 14px;
  color: red;
}
.subheading1 {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text);
}

.subheading2 {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text);
}

.subheading3 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-text);
}

.subheading4 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

.subheading5 {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-text);
}

.caption {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 12px;
  color: var(--primary-text);
}

.caption-bold {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-text);
}

.regular-narrow {
  font-family: "MarkforMCNarrow";
  font-weight: 400;
  color: var(--primary-text);
}

.medium-narrow {
  font-family: "MarkforMCNarrow";
  font-weight: 500;
  color: var(--primary-text);
}

/* Containers*/

.page-container {
  background: var(--primary-surface);
  width: 100%;
  height: 100vh;
  overflow: scroll;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.page-without-animation {
  background: var(--primary-surface);
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.title-container1 {
}

.sub-title-container1 {
  margin: 16px 32px;
}

.bottom-button-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 128px;
}

.animation-container64 {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

.animation-container128 {
  height: 240px;
  width: 240px;
  margin: 0 auto;
}

.margin24 {
  margin: 0 24px;
}

/* Spacing */

/* Vertical Margins */

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-56 {
  margin-top: 56px;
}

/* Padding Vertical Padding */

.ptb-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ptb-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ptb-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.ptb-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ptb-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ptb-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.ptb-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.ptb-52 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.ptb-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

/* Text Align */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.highlighted {
  color: var(--primary-color);
  font-weight: 500;
}

.primary-text {
  color: var(--primary-color);
}

.icon16 {
  height: 16px;
  width: 16px;
}

.icon24 {
  height: 24px;
  height: 24px;
}

.icon32 {
  height: 32px;
  width: 32px;
}
/* .icon-white {
  stroke: var(--icons-white);
}

.icon-primary {
  stroke: var(--icons-primary);
}

.icon-grey {
  stroke: var(--icons-grey);
}

.icon-black {
  stroke: var(--icons-black);
} */

/* Dynamic Color Variables */

/* PartnerBank - Light mode */

#theme[data-brand="partnerbank"][data-theme="light"] {
  /* Primary */
  --primary-color: #0d1f7e;

  /* Primary gradient */
  --primary-gradient: #0d1f7e;

  /* Surface */
  --primary-surface: #ffffff;
  --secondary-surface: #f8f8f8;
  --tertiary-surface: #f1f1f1;
  --gradient-surface: #0d1f7e;

  /* Dividers */
  --divider-on-primary: #e1e1e1;
  --divider-on-secondary: #919191;

  /* Disabled */
  --disabled-state: #acacac;

  /* Icons */
  --icons-grey: #919191;
  --icons-primary: #0d1f7e;
  --icons-white: #ffffff;
  --icons-black: #141414;

  /* Text */
  --primary-text: #212121;
  --secondary-text: #6e6e6e;
  --white-text: #ffffff;
  --white-button-text: #0d1f7e;
  --button-text: #ffffff;

  /* Neutral colors */
  --black: #000000;
  --grey-950: #141414;
  --grey-900: #212121;
  --grey-800: #292929;
  --grey-700: #303030;
  --grey-600: #404040;
  --grey-500: #6e6e6e;
  --grey-400: #919191;
  --grey-300: #acacac;
  --grey-200: #919191;
  --grey-100: #e1e1e1;
  --grey-50: #f1f1f1;
  --grey-25: #f8f8f8;
  --white: #ffffff;

  /* Message */
  --success-text: #097007;
  --warning-text: #332805;
  --error-text: #b00606;

  --success-container: #dff7df;
  --warning-container: #fff4d1;
  --error-container: #fadede;

  --success-icon: #097007;
  --warning-icon: #ffc61e;
  --error-icon: #ee0000;

  /* Chart Colors */
  --chart-color-1: #2baab9;
  --chart-color-2: #ffa833;
  --chart-color-3: #79b252;
  --chart-color-4: #3c80be;
  --chart-color-5: #fb853c;
  --chart-color-6: #9455be;
  --chart-color-7: #c74765;
  --chart-color-8: #f960a6;
}

.primary-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  background-color: transparent;
  text-align: center;
  color: #cf4500;
  font-size: 16px;
  font-weight: 600;
}

.mweb-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100vh;
  overflow: auto;
  gap: 16px;
  background-color: #141414;
  color: white;
  font-size: 16px;
  text-align: center;
}

.mweb-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 21px;
  margin: 16px;
}

.share-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.share-icon-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px); 
  }
}

.dive {
  animation: moveUpDown 2s ease-in-out infinite; 
}

.landingpage-main-container {
  background-color: #141414;
  height: 100vh;
}

.mc-circle-container {
  position: absolute;
  top: 4vh;
  right: 0;
  z-index: 0;
}

.landing-page-info-container {
  display: flex;
  padding: 6vh 16vw;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.landing-mc-logo {
  height: 6vh;
}

.digital-first-title {
  font-size: 6vh;
  color: white;
  font-weight: 500;
}

.df-body {
  font-size: 2vh;
  color: white
}

.digital-first-body-text-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.qr-code-image {
  height: 22vh;
  border-radius: 10%;
}

.info-ui-image-container {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

}

.df-caption {
  font-size: 1.5vh;
  color: white;
  font-style: italic;
}

.app-ui {
  width: 18vw;
}
