.new-home-container {
  width: 100%;
}

.home-logo-white {
  height: 24px;
}

.digital-card-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 96px;
  z-index: 10;
}

.base_gradient_container {
  margin: 96px 0; 
}
