.forgot-button-container {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.forgot-pin-digital-card {
    width: 180px;
    padding-top: 24px;
}

.forgot-pin-pop-up {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
    text-align: center;
}
